{% extends "base.html" %}

{% block header %}Posts{% endblock %}

{% block content %}
    <a href="{% url 'posts_app:create' %}">Create post</a>
    {% for post in posts %}
        <div class="post">
            <h2>{{ post.title }}</h2>
            <p>{{ post.user.username }}</p>                
            <p>{{ post.created_at|date:"F j, Y" }}</p>

            <p>
                Tags: 
                {% for tag in post.tags.all %}
                    <a href="{% url 'posts_app:all' %}?tag={{ tag.name }}">{{ tag.name }}</a>{% if not forloop.last %}, {% endif %}
                {% endfor %}
            </p>

            {% for image in post.images.all %}
                <img src="{{ image.image_data.file.url }}" alt="{{ post.title }}" width="200" height="200">
            {% endfor %}
            <p>{{ post.text }}</p>
            
            {% if post.user == request.user %}
                <a href="{% url 'posts_app:edit' id=post.id %}">Edit</a>            
            {% endif %}
        </div>
    {% empty %}
        <p>No posts available.</p>
    {% endfor %}
{% endblock %}

