{% extends "base.html" %}

{% block header %}User info{% endblock %}

{% block content %}
    <ul>
        <li>Username: {{ request.user.username }}</li>
        <li>Email: {{ request.user.email }}</li>
        <li>Is active: {{ request.user.is_active }}</li>
        <li>Is staff: {{ request.user.is_staff }}</li>
        <li>Is superuser: {{ request.user.is_superuser }}</li>
        <li>Date joined: {{ request.user.date_joined }}</li>
        <li>Last login: {{ request.user.last_login }}</li>
    </ul>

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ edit_user_form }}
        {{ edit_profile_form }}
        <button type="submit">Submit</button>
    </form>
{% endblock %}

